<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>SD Permata Bunda</title>
	</head>
<body>
    <header style="text-align: center">
        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> Silahkan Login </h1>
        <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif"><a href="/">Back</a></h3>
    </header>
    <br>
        <style>
            table  {
                border-style: solid;
                border-bottom: thick line #ff0000;
                border-top: none;
                border-left: none;
                border-right: none;
                width: 1000px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            table.data{
                border-bottom: none;
                border-top: none;
                border-left: none;
                border-right: none;
                width: 1000px;
                font-family:'Courier New', Courier, monospace
            }
            input  {
                border-style: solid;
                border-bottom: thick line #ff0000;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-left: 170px;
                width: 1000px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        </style>
        <form action="/login" method="post">
            <h5>Email</h5>
            <input type="text" name="email" placeholder="Please fill with your Email">
            <h5>Password</h5>
            <input type="text" name="password" placeholder="Please fill with your Password">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    <br>
</body>
</html>