<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<style>
    table{
        margin: auto auto;
    }
</style>
<body>
    <table>
        <tr>
            <form action="", method="post">
                <input type="checkbox" name="name" value="kopiSusu"> Kopi Susu<br>
                <input type="checkbox" name="name" value="kopiJahe"> Kopi Jahe<br>
                <input type="checkbox" name="name" value="kopiItem" checked> Kopi Item<br> 
            </form>
        </tr>
    </table>
</body>
</html>