<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kopi Susuku Bukan Susumu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <div class="ini partial">
        <nav>
            <ul>
                <li><a href="" class="navbar" id="login">MENU</a></li>
                <li><a href="" class="navbar" id="menu">LOGIN</a></li>
                <li><a href="" class="navbar" id="title">REGISTER</a></li>
            </ul>
        </nav>

        <img src="/picture/411260-PD3FVD-798.jpg" alt="">
    </div>


    <div class="judul">
        <h1>KOPI SUSUKU</h1>
        <h2>Rayakan Kekayaan Budaya dan Cita Rasa Khas Indonesia</h2>
    </div>

    <div class="container">



    </div>


</body>

</html>